body {
    background: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #333;
}

input, button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

button {
    background: #5a4fe9;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
}

button:hover {
    background: #746aff;
}
